[Unit]
Description=nomad agent
Documentation=https://www.nomadproject.io/docs/agent/
After=network.target consul.service

[Service]
ExecStart=/usr/bin/nomad agent -config /etc/nomad/nomad.hcl

[Install]
WantedBy=multi-user.target
